/* App.css */
.App {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

* {
  margin: 0;
  padding:initial;
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
  padding: 0px; /* Ajusta el padding según tu necesidad */
}

/* Ajuste responsivo */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  
  .content {
    padding: 0px; /* Ajusta el padding según tu necesidad */
  }
}
